gitignore

# Build stuff
run.bat

# Latest output
# Binary
a.exe
# Rendered image
output.ppm

# Local resources
res/local

# Debugging dumps of tgas
tga_normals_man.tga
tga_specular_man.tga
tga_tangent_normals_man.tga
tga_texture_man.tga
